# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.sts4-cache/
.apt_generated/
.springBeans/
.factorypath/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs e temp
*.log
*.tmp
*.swp
